body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-flex {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Global Header*/
.global-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Styling for søkefeltet */
.global-header form {
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
}

#search-input {
    padding: 8px;
    border-radius: 0;
}

#search-button {
    padding: 8px 12px;
    border-radius: 0;
}

/* Styling for navigasjonsmenyen */
.global-header nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    list-style: none;
    padding: 0;
}

.global-header nav ul li {
    width: 100%;
}

.global-header nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: #000;
    padding: 6px;
}

#logo img {
    height: 125px;
}

/* Styling for ikonene */
.global-header .icons h2 {
    display: none;
}

.global-header .icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.global-header .icons a {
    color: #000;
    font-size: 20px;
}

/* Main */

#banner {
    background-color: #c4c4c4;
    text-align: right;
    padding: 40px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

#banner h2 {
    font-size: 21px;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
}

#banner p {
    font-size: 12px;
    margin-bottom: 20px;
}

#banner-button {
    padding: 10px 6px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border: 2px;
    font-size: 13px;
}

#popprodukt h2 {
    font-size: 18px;
}

.popknapp ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.popknapp button {
    padding: 4px 23px;
    font-size: 16px;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #000000;
}

.prod-card {
    border: 1px solid #fff;
    padding: 5px;
}

.prod-card h3 {
    font-size: 14px;
}

.prod-card p {
    font-size: 12px;
}

.prod-card img {
    height: auto;
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

#popkategori {
    margin: 20px auto;
    max-width: 600px;
}

#popkategori h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

#popkategori p {
    font-size: 14px;
    margin-bottom: 35px;
}

.kategorikort {
    border: 1px solid #000;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    max-width: 100%;
    box-sizing: border-box;
}

.kategorikort2 {
    border: 1px solid #000;
    height: 425px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    max-width: 100%;
    box-sizing: border-box;
}

.kategorikort h3 {
    font-size: 18px;
}

.anmeldelser {
    margin: 20px auto;
    max-width: 600px;
    padding: 0 10px;
}

.anmeldelser h2 {
    font-size: 20px;
    margin-top: 40px;
}

.anmeldkort {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #b1b1b1;
    padding: 10px;
    margin-bottom: 15px;
}

.anmeldkort img {
    width: 85px;
    height: 85px;
    object-fit: cover;
}

.anmeldkort h3 {
    font-size: 18px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.anmeldkort p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

/* Global Footer */

.global-footer section {
    margin-bottom: 2rem;
}

.global-footer p {
    font-size: 13px;
}

.global-footer h1 {
    font-size: 27px;
    font-weight: normal;
}

.global-footer h2 {
    font-weight: normal;
    font-size: 16px;
}

.global-footer ul {
  list-style: none;
  padding: 0;
}

.global-footer ul li p strong {
    margin-right: 10px;
}

.global-footer i {
    margin-right: 1rem;
}

.global-footer nav li {
margin-bottom: 0.5rem;
}

.global-footer nav a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.footerikon i, .footerikon a {
    display: block;
    margin-bottom: 2rem;
    color: #000;
    text-decoration: none;
}

